<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="/media/css/style.css" />

    <title>{% block title %} Mon blog {% endblock%}</title>
  </head>

  <body>
    <header></header>

    <nav>
      {% block nav %} 
      
      {% if not user is_authenticated %}
          
          <a href="{% url 'signup' %}"> S' incrire </a>
      
      {% endif %} 
      
      {% endblock %}
    </nav>

    <section id="content">{% block content %}{% endblock %}</section>

    <footer></footer>
  </body>
</html>
